<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group4.mycarpark.dao.CardMapper">
    <update id="updateMoney">
        update card set money = money + #{change} where id = #{id};
    </update>

    <select id="selectByCarNum" resultType="com.group4.mycarpark.entity.Card">
        select * from card where carnum = #{carnum};
    </select>
</mapper>